{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Редактировать профиль
{% endblock title %} 

{% block body %}
    <div class="container-fluid">
    
        <div class="row d-flex justify-content-center">  
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight fs-4">Пользователь: {{ object.user.username }} ({{object.user.groups.all.0}})</div> 
                    
                </div>
                <div class="container fs-3">Редактирование профиля:</div>
                <hr>
                <form method="post" enctype="text/plain">
                    {% csrf_token %}
                    
                    {{ form|crispy  }}

                    <div class="form-actions">         
                    <hr class="my-4">
                    <button class="w-100 btn btn-outline-success btn-lg" type="submit">Подтвердить</button>
                    </div>
                </form>
                
            </div>
     
        </div>
{% endblock body %}