{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock title %}
    
{% block body %}
    <div class="container col col-lg-8" >
        
        <div class="row">
            {% if object.picture %}    
                <div class="col-5">
                    <img class="img-thumbnail img-fluid" src="{{ object.picture.url }}" alt="book_pict">
                </div>
            {% endif %}    
            <div class="col-7">
                <h1>{{ title }}</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {{ form|crispy  }}

                    <div class="form-actions">         
                    <hr class="my-4">
                    <button class="w-100 btn btn-outline-success btn-lg" type="submit">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}











