{% extends 'base.html' %} 
   
   
{% block title %}Список справочников{% endblock title %}

{% block body %}
    <div class="container col col-lg-6">
        <h2>Список справочников:</h2>
        <div class="list-group">
            
            <ul>
                <li><a href="{% url 'dirs:authors' %}" class="text-decoration-none text-reset ">Авторы</a></li>
                <li><a href="{% url 'dirs:genres' %}" class="text-decoration-none text-reset ">Жанры</a></li>
                <li><a href="{% url 'dirs:phs' %}" class="text-decoration-none text-reset ">Издательства</a></li>
                <li><a href="{% url 'dirs:series_list' %}" class="text-decoration-none text-reset ">Серии</a></li>
                
            </ul>
        </div>
    </div>
{% endblock body %}