{% extends "base.html" %}

{% block title %}
    {{Title}}
{% endblock title %}    

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% if object.picture %}
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">    
                    <img class="rounded mx-auto d-block img-thumbnail img-fluid"  src="{{ object.picture.url }}" alt="author_pict">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">   
            {% else %}
                <div class="col">
            {% endif %}
                    <div class="d-flex bd-highlight mb-3">
                        <div class="p-2 bd-highlight fs-3"><b>id:</b> <em> {{ object.pk }} </em> | <b>name:</b> <em> {{ object.name }} </em></div>
                        <div class="ms-auto p-2 bd-highlight"><a class=" btn btn-outline-secondary justify-content-end text-decoration-none " href="{% url url_upd object.pk %}">Изменить</a></div>
                        <div class=" p-2 bd-highlight"><a class="btn btn-outline-danger justify-content-end text-decoration-none" href="{% url url_del object.pk %}">Удалить</a></div>
                    </div> 
                    <hr> 
                    {% if object.discription %}
                  
                    <p>{{ object.discription }}</p>
                
                    {% endif %}
                </div>
        </div>
        
        
        <br>
        <div class="booklist mt-2">
            <div class="row">
                {% for book in object.books.all %}
                    {% include 'book_card.html' %}
                {% endfor %}
            </div>
        
        </div>
    </div>
{% endblock body %}