{% extends "base.html" %}
{% load book_filter_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight fs-3">{{ title }}</div> 
        {% if request.user|has_group:'manager' %}
            <div class="ms-auto p-2 bd-highlight"><a class=" btn btn-outline-success justify-content-end text-decoration-none" href="{% url url_create %}">Добавить</a></div>  
        {% endif %}
    </div>
    <hr>
    
        <div class="row">
            {% for item in object_list %}
                {% include 'directories_item.html' %}
            {% endfor %}
        </div>
    

    <br>

</div>
{% endblock body %}