{% extends "base.html" %}
    
{% block title %}
    {{ title }}
{% endblock title %}    

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-8 ">
            <h1>{{ title }}: {{ object.name }}?</h1>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" class=" btn btn-outline-danger">Удалить</button>
                <a class=" btn btn-outline-secondary" href="{{ back_link }}">Отмена</a></p>
                
            </form>
        </div>
    </div>
{% endblock body %}
